<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="theme-color" content="#333333"> 
  <meta name="description" content="Discover interesting Cafe and Restaurant available around you.">

  <link rel="manifest" href="/app.webmanifest">
  <link rel="icon" href="/favicon.png" type="image/png">
  
  <title>Restorray - Find your next Dining Site</title>
</head>
<body>
  <a href="#main-content" class="skip-header-link">Skip to content</a>
  <header>
    <nav-bar title="Restorray"></nav-bar>
  </header>
  <main id="main-content" tabindex="0">
  </main>
  <footer>
    <span>Copyright &copy; 2022 - Restorray</span>
  </footer>
</body>
</html>
